*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.mobile-menu{
    display: block;
    width: 100%;
    background: rgb(25, 163, 66);
    line-height: 1.6em;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.mobile-menu ul{
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    background: rgb(255, 0, 0);
}
.mobile-menu li{
    display: inline-block;
}
.mobile-menu li a{
    display: block;
    min-width: 140px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    background: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: -5px;
    padding: 10px 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.mobile-menu li:hover a{
    color: #ffffff;
    background-color: #999;
    transition-delay: 1s;
}
.mobile-menu li:hover ul a{
    background: #999;
    color: yellow;
    height: 40px;
    line-height: 40px;
}
.mobile-menu li:hover .mobile-menu ul a:hover{
    color: #000;
}
.mobile-menu li ul{
    display: none;
}
.mobile-menu li ul li{
    display: block;
    float: none;
}
.mobile-menu  li ul li a{
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
.mobile-menu show-menu{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 10px 15px;
    display: none;
    cursor: pointer;
    text-transform: uppercase;
}
.mobile-menu .show-menu span{
    padding-left: 25px;
}
.mobile-menu input[type=checkbox]{
    display: none;
}
.mobile-menu input[type=checkbox]:checked ~ #menu{
    display: block;
}   
@media screen and (max-width: 800px){
    .mobile-menu .line{
        border-bottom: 15px double #ff0000;
        border-top: 5px solid #ff0000;
        content: "";
        height: 5px;
        width:  20px;
        padding-right: 15px;
        float: right;
    }
    .mobile-menu ul{
        position: static;
        display: none;
    }
    .mobile-menu li{
        margin-bottom: 1px;
    }
    .mobile-menu ul li, .mobile-menu li a{
        width: 100%;
    }
    .mobile-menu .show-menu{
        display: block;
    }
}